<h3>{{viewT}}</h3>

<div class="form-group">
         <a class="btn btn-dark" href="/home/employee"><i class="fa fa-plus-square"></i> Add employee</a>
               <a class="btn btn-dark" href="/employee/list"><i class="fa fa-list-ul"></i> View All employees</a>

        <a class="btn btn-dark" href="/home/product"><i class="fa fa-plus-square"></i>Add product </a>
      <a class="btn btn-dark" href="/product/productList"><i class="fa fa-list-ul"></i> View All products</a>


    </div>